:root {
  --cl-primary: #101828;
  --cl-secondary: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --cl-accent: #e44848;
  --cl-accent-hover: #d84343;
  --rating: #ffc531;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
