.hero {
  background-image: url("../../assets/images/hero_image-min.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 696px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 64px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../../assets/images/hero_image_2x-min.png");
  }
}
.textBox {
  width: 571px;
  height: 176px;
  color: #f7f7f7;
  padding-top: 260px;
  padding-left: 64px;
}
.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.67;
}
.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  margin-top: 16px;
  margin-bottom: 40px;
}
.button {
  padding: 16px 48.5px;
  min-width: 173px;
  height: 56px;
  border-radius: 200px;
  border: none;
  background-color: var(--cl-accent);
  font-family: inherit;
  font-size: 16px;
  letter-spacing: -0.01em;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.button:hover,
.button:focus {
  background-color: #d84343;
}
